.background {
    background-color: pink;
    color: white ;
    font-size: 50px;
    text-align: center;
}

.sectiontwo {
background-color: purple;
text-align: right;
width: 30%;

}

input {

    width: 600px;
    height: 15px;
    align-items: center;
}
.div {
    display: flex;
    justify-content: flex-end;
}

