.background {
    background-color: pink;
    color: white ;
    font-size: 60px;
    text-align: center;
}

.sectiontwo {
background-color: purple;
text-align: right;
width: 50%;


}

#search {
    font-size: 80px;
    text-align: right;
    color: white;
    width: 100%;
    margin: 0;

    
}
